body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.header-container {
background-color: #1f2937;
height: 100px;
display: flex;
justify-content: space-between;

}

h1.header-title {
font-size: 24px;
color: #f9faf8;
padding-left: 80px;

}

.header-links {
font-size: 18px;
color: #e5e7eb;
display: flex;
gap: 10px;
padding-right: 80px;
}

li {
    list-style-type: none;
}

.first-section {
    background-color: #1f2937;
    height: 100px;
}

.random-section {
    background-color: #ffffff;
    height: 100px;
}

.quote {
background-color: #e5e7eb;
height: 100px;
}

.sign-up {
background-color: #ffffff;
height: 100px;
}

.footer {
 background-color: #1f2937;   
 height: 100px;
}